:root {
  --cms-input-width: 480px;
  --cms-input-button-width: 70px;
  --cms-input-height: 100px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.media-img, .media-video {
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#no-media {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.fade-in {
	animation: fade-in 500ms ease-in-out forwards;
	order: 10;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	animation: fade-out 500ms ease-in-out forwards;
	animation-delay: 250ms;
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#remove-kiosk {
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	padding: 2.5px;
	margin: 2.5px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#remove-kiosk > img {
	width: 25px;
	height: 25px;
}

.announcement {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 50%;
	margin: 0.5rem;
	padding: 0.75rem 1rem;
	border-radius: 10px;
	background-color: white;
}

#chat-btn {
	position: fixed;
	bottom: 5px;
	right: 5px;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	width: 50px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#chat-btn > img {
	width: 80%;
	height: 80%;
}

#chat-widget {
	position: fixed;
	bottom: 10px;
	right: 10px;

	width: 330px;
	height: 500px;
	background-color: #f1f1f1;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-box {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;
}

#select-conversation {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

#select-conversation > select, #select-conversation > button {
	width: 80%;
	padding: 5px;
}

#messages {
	overflow: auto;
}

.message-text {
	font-size: 13px;
	border-radius: 10px;
	margin-top: 5px;
	padding: 10px;
	background-color: #c5c8c6;
}

.message-text.is_usr_msg {
	margin-left: 40%;
}

.message-text:not(.is_usr_msg) {
	margin-right: 40%;
}

#user-input {
	display: flex;
	gap: 5px;
}

#user-input > input {
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 205px;
}

#user-input > button {
	width: fit-content;
	padding: 10px;
	margin-top: 10px;
	background-color: #c5c8c6;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* https://stackoverflow.com/a/7220510 */
pre#cms-error {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 20px;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#cms-input-wrapper {
	position: fixed;
	bottom: calc(50% - (var(--cms-input-height) / 2));
	left: calc(50% - (var(--cms-input-width) / 2));
	display: flex;
}

#cms-input {
	width: calc(var(--cms-input-width) - var(--cms-input-button-width));
	height: var(--cms-input-height);
	font-size: 1rem;
	text-align: center;
	padding: 15px;
	border: 1px solid black;
	border-radius: 10px 0 0 10px;
	outline: none;
}

#cms-button {
	font-size: 1rem;
	width: var(--cms-input-button-width);
	height: var(--cms-input-height);
	border-radius: 0 10px 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
